<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center my-4">
      <%= link_to cocktail_path(cocktail), class: "cocktail-link" do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">
          <div class="card-title">
            <h5> <%= cocktail.name %> </h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
