<div class="banner" style="background-image: linear-gradient(rgba(150,150,150,0.7),rgba(150,150,150,0.7)), url(https://images.unsplash.com/photo-1560421741-50d051ed1820?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container-banner text-center">
    <h3>Age appears to be best in three things: </h3>
  <h3> <span id="banner-typed-text"></span> </h3>
  </div>
</div>
