.card-category {
  background-size: cover;
  background-position: 0 33%;
  height: 180px;
  width: 300px;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  justify-content: center;
}

.cocktail-link {
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.card-cocktail-description {
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 25px;
}

.card-add-ingredient {
  display: flex;
  h3 {
    margin-right: 5px;
  }
}
